@import "tailwindcss";

@theme {
  --color-primary: #0066FF;
  --color-secondary: #64748B;
  --color-accent: #CC4204;
  --color-neutral: #757682;
  
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply font-inter text-neutral bg-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply text-secondary font-bold;
  }
}
